.profile__edit-button {
  grid-area: button;
  align-self: flex-end;
  background-image: url(../../../images/edit-button-main.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  border: 1px solid #FFFFFF;;
  width: 24px;
  height: 24px;
  margin-bottom: 6px;
}

@media screen and (max-width: 650px) {
  .profile__edit-button {
    background-image: url(../../../images/edit-button-mobile.svg);
    width: 18px;
    height: 18px;
  }
}