.form__item-error {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: 5px;
  margin-bottom: -15px;
  display: none;
}

.form__item-error:last-of-type {
  margin-bottom: 0;
}
