.close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/Close-Icon.svg);
}

@media screen and (max-width: 650px) {
  .close-btn {
    width: 20px;
    height: 20px;
    background-image: url(../../images/Close-Icon-mobile.svg);
    right: 0;
    top: -36px;
  }
}